/*-----------------------------------*\
  #ROOT
\*-----------------------------------*/

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

body {
  /*se forziamo a bianco il bg, poi in dark mode non si vede il testo*/
  /*background-color: #FFFFFF;*/
}

button.MuiButton-root {
  text-transform: none;
  /* disabilita maiuscole globali */
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

h1 {
  font-size: 24px;
  font-weight: bolder;
}

h2 {
  font-size: 18px;
  font-weight: bolder;
}

h4 {
  font-size: 16.5px;
  font-weight: bold;
}

/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.blue {
  color: #005DD3;
  font-weight: 600;
}

.blu-maiuscolo {
  text-align: center;
  text-transform: uppercase;
  color: #005DD3;
}

.maiuscolo {
  text-transform: uppercase;
}

.close-icon {
  display: flex;
  justify-content: right;
  position: fixed;
  top: 44px;
  right: 20px;
}

.arrow-right {
  display: flex;
  position: fixed;
  bottom: 54px;
  right: 20px;
}

.safari-arrow-right {
  display: flex;
  justify-content: flex-end;
  position: sticky;
  top: 1rem;
  right: 1rem;
  z-index: 1000;
}

.arrow-left {
  display: flex;
  position: fixed;
  top: 44px;
  left: 20px;
}

.bottom-button {
  position: fixed;
  bottom: 54px;
  box-sizing: border-box;
  left: 0;
  right: 0;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
}

.safari-pagina-bottone {
  min-height: 100vh;
  padding: 3rem; /* spazio per il bottone */
  padding-top: 0;
  position: relative;
}

.contenitore-testo {
  position: fixed;
  top: 74px;
  bottom: 109px;
  left: 30px;
  right: 30px;
  overflow: auto;
  margin-top: 10px;
}

.contenitore-testo::-webkit-scrollbar {
  display: none;
}

.red {
  display: flex;
  position: fixed;
  bottom: 79px;
  right: 20px;
  color: #FF0000;
  font-size: small;
}

/*-----------------------------------*\
  #USER ID
\*-----------------------------------*/

.user-id {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  width: 100%;
}

.scelta-ID {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  margin-top: 25px;
}

.scelta-ID .MuiButton-root {
  width: 50%;
}

.user-id .MuiTextField-root {
  width: 100%;
  max-width: 400px;
}

.bottone-userID {
  margin-top: 20px;
  width: 100%;
  max-width: 400px;
}

.user-id h5 {
  font-weight: bold;
}

.naviga-id-dimenticato {
  text-align: right;
  margin-top: 20px;
  margin-right: 1%;
}

.user-id-red {
  display: flex;
  justify-content: right;
  color: #FF0000;
  font-size: small;
}

/*-----------------------------------*\
  #USER ID DIMENTICATO
\*-----------------------------------*/

.bottone-userID-dimenticato {
  margin-top: 20px;
  width: 100%;
  max-width: 400px;
}

/*-----------------------------------*\
  #PAGINE DI TESTO
\*-----------------------------------*/

ol.custom-list {
  list-style: none;
  /* Rimuove il marcatore standard */
  counter-reset: my-counter;
  /* Inizializza il contatore */
  padding-left: 0;
  margin-left: 0;
}

ol.custom-list li {
  counter-increment: my-counter;
  /* Incrementa il contatore */
  position: relative;
  padding-left: 2em;
  /* Spazio tra numero e testo */
  margin-bottom: 0.6em;
  /* Distanza tra le voci */
}

ol.custom-list li::before {
  content: counter(my-counter);
  /* Mostra il numero */
  font-weight: bold;
  /* Numero in grassetto */
  position: absolute;
  left: 0;
}

/*-----------------------------------*\
  #GENERALITà
\*-----------------------------------*/

.titolo-generalità {
  display: flex;
  justify-content: center;
}

.form-generalità {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  width: 100%;
}

.form-generalità .MuiTextField-root {
  width: 100%;
  max-width: 400px;
}

.radio-altro-opzione {
  display: flex;
  align-items: left;
  gap: 8px;
  margin-top: 8px;
}

.input-istruzione {
  border: none;
  outline: none;
  font-size: 1rem;
  background-color: transparent;
  color: inherit;
  flex: 1;
}

.modello-telefono {
  margin-bottom: 10px;
}

/*-----------------------------------*\
  #AVATAR
\*-----------------------------------*/

/* Titolo fisso */
.avatar-titolo {
  position: fixed;
  top: 74px;
  left: 0px;
  right: 0px;
  text-align: center;
}

/* Contenitore con scroll */
.avatar-scroll-wrapper {
  width: 100%;
  -webkit-overflow-scrolling: touch;
  padding: 20px 0;
  display: flex;
  align-items: center;
  width: 80vw;
  box-sizing: border-box;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
}

/* Container interno per flex orizzontale */
.avatar-scroll-container {
  display: flex;
  flex-direction: row;
  width: max-content;
  gap: 10px;
}

.avatar {
  width: 200px;
  height: auto;
  flex-shrink: 0;
  /* Impedisce che si restringano */
  transition: border 0.3s ease;
}

.avatar.selected {
  border: 2px solid #005DD3;
  border-radius: 20px;
}

/* Nascondi scrollbar */
.avatar-scroll-wrapper::-webkit-scrollbar {
  display: none;
}

/*-----------------------------------*\
  #QUESTIONARI
\*-----------------------------------*/

.slider {
  display: flex;
  justify-content: center;
  margin: 30px 25px 60px 25px;
}

.header-questionari {
  text-align: center;
}

.numero-domanda {
  text-align: center;
  color: #BAD1EF;
  position: fixed;
  bottom: 117px;
  left: 0;
  right: 0;
}

.contenitore-hexaco {
  position: fixed;
  top: 60px;
  left: 20px;
  right: 20px;
  padding: 0 10px;
}

.lista-hexaco {
  position: inherit;
  top: 125px;
}

.conteggio-hexaco {
  position: fixed;
  bottom: 84px;
  left: 0;
  right: 0;
}

.slider-hexaco {
  position: fixed;
  bottom: 124px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  margin: 0 25px;
}

.hexaco {
  position: fixed;
  height: 100px;
  display: flex;
  justify-content: center;
  top: 330px;
  left: 10px;
  right: 10px;
  text-align: center;
  margin: 0 20px;
  box-sizing: border-box;
  overflow-wrap: break-word;
}

/*-----------------------------------*\
  #HOME
\*-----------------------------------*/

.session {
  width: 100px;
  height: auto;
  color: #000000;
  background-color: #FFFFFF;
  border: #e5e7eb;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px 15px;
  font-size: 24px;
  font-weight: 600;
}

.sottotitolo {
  color: #71727A;
  font-size: large;
  font-weight: normal;
}

.completed {
  width: 100px;
  height: auto;
  color: #000000;
  background-color: #FFFFFF;
  border: #e5e7eb;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px 15px;
  font-size: 24px;
  font-weight: 600;
}

.barra-info {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 20px 5vw;
}

.bottone-home {
  display: flex;
  justify-content: center;
}

.contenitore-home {
  position: fixed;
  top: 64px;
  bottom: 74px;
  left: 20px;
  right: 20px;
  overflow: auto;
  padding: 10px;
}

.testo-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.external-link,
.internal-link {
  margin-top: 10px;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.box {
  width: auto;
  height: auto;
  color: #000000;
  background-color: #FFFFFF;
  border: #e5e7eb;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: 600;
  margin: 5px 0;
}

/*-----------------------------------*\
  #PICK A MOOD
\*-----------------------------------*/

.mood-button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.titolo-mood {
  margin-bottom: 30px;
}

.mood-circle-container {
  position: relative;
  width: 100%;
  max-width: 350px;
  height: 100vh;
  margin: 0 auto 0 -17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
}

.pick-a-mood {
  position: fixed;
  right: 20px;
  left: 20px;
  top: 94px;
}

/*-----------------------------------*\
  #MOOD INTENSITY
\*-----------------------------------*/

.rating {
  margin: 0 5px;
  display: flex;
  justify-content: center;
}

.mood-intensity-img {
  position: relative;
  width: 100%;
  max-width: 300px;
  height: 350px;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(-80px);
}

.mood-image {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

@media (max-width: 400px) {
  .circle-rating {
    width: 90%;
    height: auto;
  }
}

.circle-rating {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  width: 90%;
  margin: 15px 0 15px 0;
  padding: 1rem 0;
}

.rating-span {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.mood-intensity {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}

.box-rating {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 170px;
}

.mood-intensity-testo {
  position: fixed;
  top: 150px;
  right: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
}

.mood-intensity-h3 {
  position: absolute;
  bottom: -50px;
  padding: 8px 12px;
  border-radius: 6px;
  text-align: center;
}

.mood-intensity-h3 h3 {
  color: #c97200 !important;
}

/*-----------------------------------*\
  #STIMOLO VALUTAZIONE
\*-----------------------------------*/

.stimolo-valutazione {
  height: 90vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.stimolo-titolo {
  text-align: center;
  margin: 0;
  font-size: 1.2rem;
  line-height: 1;
}

.image-container {
  height: 22vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  width: auto;
  height: 170px;
  max-width: 90%;
  object-fit: contain;
}

.image {
  max-width: 90%;
  max-height: 170px;
  object-fit: contain;
  margin: 20px 0;
}

.valutazione-titolo {
  text-align: center;
  margin-bottom: -35px;
}

.valutazione-h4 {
  margin-bottom: 5px;
}

.valutazione-blocco {
  height: 45vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  transition: opacity 0.4s ease;
}

.valutazione {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  max-width: 90%;
}

.valutazione-buttons {
  width: 250px;
}

.error-button {
  width: 100%;
  display: flex;
  justify-content: center;
}

/*-----------------------------------*\
  #FINE QUESTIONARIO
\*-----------------------------------*/

.fine-questionario-testo {
  position: fixed;
  top: 44px; /* Ancorato in alto */
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  padding: 1rem;
  z-index: 1000;
}

.fine-questionario-testo h3 {
  text-align: center;
  font-weight: bold;
  font-size: x-large;
}

.fine-questionario-testo p {
  margin-left: 20px;
}

.button-fine-questionario {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  bottom: 54px;
}

/*-----------------------------------*\
  #FINE ESPERIMENTO
\*-----------------------------------*/

.button-fullwidth {
  margin-top: 20px;
  display: flex;
  position: fixed;
  bottom: 54px;
  right: 30px;
  left: 30px;
}

.contenitore-fine-esperimento {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}